<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @team.code %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @team.fullName %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @team.shortName %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
