<h1>
  Welcome
</h1>

<%= link_to 'Test', hello_world_path, method: :get %><br>
<%= link_to 'Load Draft Rankings', load_draft_rankings_path, method: :get %><br>
<%= link_to 'Load Fantasy Players', load_fantasy_players_path, method: :get %><br>
<%= link_to 'Load Fantasy Projections', load_fantasy_projections_path, method: :get %><br>
<%= link_to 'Load Auction', load_auction_path, method: :get %><br>
<%= link_to 'Code Red', code_red_path, method: :get %>