<h1 align = "center">
  Fantasy Teams
</h1>
<br>
<table>
<%= link_to "Create Fantasy Team", new_fantasy_team_path %>
  <tr>
    <th>Team Name</th>
    <th>Team Owner</th>
    <th>Auction Cash</th>
    <th>Nerd Rank Sum</th>
  </tr>
  <% @fantasyTeams.each do |fantasyTeams| %>
  <tr>
    <td><%= fantasyTeams.fantasy_team_name %></td>
    <td><%= fantasyTeams.owner_name %></td>
    <td><%= number_to_currency(fantasyTeams.auction_cash) %></td>
    <td><%= FantasyPlayer.calculateNerdRank(fantasyTeams).to_i %></td>
  </tr>
<% end %>
</table>