<h1>
  Team <%= @fantasyTeam.fantasy_team_name %>
</h1>
<h2>
  <% spentCash = FantasyPlayer.calculateAuctionCash(@fantasyTeam) %>
  <% auctionCash = @fantasyTeam.auction_cash %>
 Auction Cash <%= number_to_currency(auctionCash) %><br>
 Remaining Cash <%= number_to_currency(auctionCash - spentCash) %>
</h2>

<h2>
  Player Count: <%= @players.count %><br>
  <%= FantasyTeam.position_count(@fantasyTeam) %>
</h2>
<h4>
  Players:
</h4>
<% @players.each do |player| %>
  <ul>
    <li><%= player.player.display_name %>, <%= player.player.position %></li>
  </ul>
<% end %>