<h1>Teams</h1>
<% @fantasy_teams.each do |team| %>
  <text><%= link_to team.fantasy_team_name, fantasy_team_path(team.id) %>
    <% auctionCash = team.auction_cash %>
    <% spentCash = FantasyPlayer.calculateAuctionCash(team) %>
    <%= number_to_currency(auctionCash - spentCash) %> ||</text>
<% end %>

<h1>Players</h1>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
<div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query
    ) %>
  </div>  
<div>
    Position
    <%= f.select(
      :filter_player_position,
      @filterrific.select_options[:filter_player_position],
      { include_blank: '- All -' }
    ) %>
</div>
<div>
    Fantasy Team
    <%= f.select(
      :filter_fantasy_team,
      @filterrific.select_options[:filter_fantasy_team],
      { include_blank: '- All -' }
    ) %>
</div>
<div>
    Watching
    <%= f.select(
      :filter_watching,
      @filterrific.select_options[:filter_watching],
      { include_blank: '- All -' }
    ) %>
</div>
<div>
    Rookie Asset
    <%= f.select(
      :filter_rookie_asset,
      @filterrific.select_options[:filter_rookie_asset],
      { include_blank: '- All -' }
    ) %>
</div>
<div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
</div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
<%= f.submit 'Filter' %>
<% end %>

<%= render(
  partial: 'players/list',
  locals: { players: @players }
) %>