<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>PlayerId</th>
      <th>Fullname</th>
      <th>Position</th>
      <th>Team</th>
      <th>Nerd Rank</th>
      <th>Overall Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.player_id %></td>
        <td><%= player.display_name %></td>
        <td><%= player.position %></td>
        <td><%= player.team %></td>
        <td><%= player.nerd_rank %></td>
        <td><%= player.overall_rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>